@import "tailwindcss";

@theme {
    --color-primary-gray: #0f0f0f; 
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}