@import "tailwindcss";

@theme {
    --color-pm-gray: #141414;
    --color-se-gray: #222222;
    --color-th-gray: #9ca3af;
    --color-pm-purple: #6b21a8;
    --color-pm-purple-hover: #9233ea;
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}